{{!-- 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div>
    {{#with person}} 
    <main>
        <section>
            {{> title data='Person' big=true}}

            <hr>
            <h1>{{name}}</h1>
            
            <hr>
            <br>

            <p><mark>Age:{{age}}</mark> 32</p>
            <p><mark>Gender{{gender}}:</mark>female</p>

            <br>

           {{#with address}} 
                <b><address><p>Address</p></address></b>
                <ul>
                    <li><address>street: {{street}}</address></li>
                    <li><address>city: {{city}}</address></li>
                    <li><address>state: {{state}}</address></li>
                    <li><address>zip: {{zip}}</address></li>
                    <li><address>country: {{country}}</address></li>
                </ul>
           {{/with}}
           <br>
           <b><p>Education:</p></b>
           {{#each education}} 
            <ul>
                <li>Degree: {{degree}}</li>
                <li>Major: {{major}}</li>
                <li>University: {{university}}</li>
                <li>Year of Graduation {{graduationYear}}</li>
            </ul>
           {{/each}}
           {{#each workExperience}}
           <b><p>Work experience</p></b>
            <ul>
                <li>Company: {{company}}</li>
                <li>Title: {{title}}</li>
                <li>Start date: {{startDate}}</li>
                <li>End date: {{endDate}}</li>
                <li>Responsibilities: {{responsibilities}}</li>
                <li>Year founded: {{year_founded}}</li>
                <li>Industry: {{industry}}</li>
                <li>Employees: {{employees}}</li>
            </ul>
           {{/each}}
        </section>
    </main>
    {{/with}}
</div>